.custom-cursor {
  position: fixed;
  pointer-events: none;
  width: 20px;
  height: 20px;
  z-index: 9999;
  // transform: translate(-2000%, -50%);
  top: -13px;
  left: -4px;
  // rotate: 135deg;
}

.hover-card {
  position: fixed;
  z-index: 9998;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-card > div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #ff8a00, #e52e71);
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
